<div class="col-xs-12 modal-page-container">
  <button type="button" class="close" title="Close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <div class="modal-pages">
    <h1>What People Say About Us</h1>
    <br />
    <%= image_tag 'testimonial.jpg' %>
    <br />
    <br />
    <div class="row">
      <p>
      <div class="col-xs-12 col-sm-1 review-pic">
        <%= image_tag 'sean.jpg' %>
        <br />
        <b>Sean</b>
      </div>
      </p>
      <div class="col-xs-12 col-sm-11">
    	<p>
        Love the people, love the music, love the sermons, love the pastors, love Jesus. I am so happy to be a part of this church. It's definitely changed the way I live my life. We all have struggles, and having a family in Christ to support you through those struggles is so wonderful.
      </p>
      </div>
    </div>
    <div class="row">
      <p>
      <div class="col-xs-12 col-sm-1 review-pic">
        <%= image_tag 'lisa.jpg' %>
        <br />
        <b>Lisa</b>
      </div>
      </p>
      <div class="col-xs-12 col-sm-11">
        <p>
        What can I say about a place that has literally saved my life?  If it weren't for Lifeline, I'm not so sure where I would be. It has been a gift from God in my life and the lives of my children. The people that attend this church are amazing as well.  The Pastors are incredible at sharing God's word and the Bible Study for the children has the most caring, loving teacher on the Planet.  They are non judgmental and extremely welcoming.  This is a family, not just a church.  It will change your life forever just as it has done to mine. Thank you Lord Jesus for Lifeline!
        </p>
      </div>
    </div>
    <div class="row">
      <p>
      <div class="col-xs-12 col-sm-1 review-pic">
        <%= image_tag 'jackie.png' %>
        <br />
        <b>Jackie</b>
      </div>
      </p>
      <div class="col-xs-12 col-sm-11">
      <p>
        Great family atmosphere. If you want to get involved in a church right away this is the place for you! One of the most powerful services was spent praying for each other. Steve, the pastor, is very down to earth, funny, and has a heart after God.
      </p>
      </div>
    </div>
    <div class="row">
      <p>
      <div class="col-xs-12 col-sm-1 review-pic">
        <%= image_tag 'pete.jpg' %>
        <br />
        <b>Pete</b>
      </div>
      </p>
      <div class="col-xs-12 col-sm-11">
      <p>
        Great church!  Pastor Steve is a guy who really cares about people and is willing to give you the shirt off his back!  He loves God and leaves no doubt that Jesus is what he's all about. Great sermons that are personal and down to earth. It's a relatively new church that's located at the First Baptist Indonesian Church of LA. The people are really friendly. They have always made me feel welcome and valued.
    	</p>
      </div>
    </div>
    <br class="clear" />
    </div>
</div>